// |--------------------------------------------------------------------------
// | Section
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .[your_class]
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------


// --------------------------------------------------
// Mixins
// --------------------------------------------------


// --------------------------------------------------
// Styling
// --------------------------------------------------

.section--what-i-do {
  margin-top: 80px;
  background: $body-bg-secondary;
      text-align: center;
  
  &::before {
    display: block;
    width: 100%;
    height: 240px;
    background: url(../../img/bg-curve-up-1.svg) center top no-repeat;
    content: " ";
  }
}


.section--contact {
  margin: 0px -8px;
  background: $body-bg-secondary;
  padding: 40px 0;
  text-align: center;
  border-bottom: 11px solid $brand-primary;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .contact--bg {
    position: relative;
    padding-bottom: 35px;
    
    .contact--content--wrapper {

      .contact--content {
        padding-top: 95px;
        margin: $padding-base-horizontal 0;
        text-align: center;
        background: center 16px no-repeat;
        background-image: url(../../img/icon-contact.svg);

        font-size: $font-size-large;
        font-weight: 600;

        a.email {
          color: $text-color;
          transition: color 0.5s;

          &:hover {
            color: $brand-secondary;
          }
        }

        hr {
          width: 80px;
          color: $brand-primary;
          border: 1px solid;
          margin: $padding-large-horizontal auto;
        }
      }
    }

    .social {
      &.contact--social {
        justify-content: center;
        color: $text-color;
      }
    }
    
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------


// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {
  .section--personal {
    text-align: center;
    
    .personal-img--container {
      width: 412px;
      height: 450px; 
    }
    .personal-img--container {
      img {
        width: 267px;
        bottom: 55px;
        left: 63px;
      }
    }
  }
}

// Mobile - only
@include media-breakpoint-only(sm) {}

// Tablet - and up
// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
  .section--educ {
    h2, .h2 {
      text-align: left;
    }
  }
}

// Tablet - only 
@include media-breakpoint-only(md) {
.section--personal {
    text-align: left;
    
    .personal-img--container {
      width: 290px;
      height: 320px;  
    }
    .personal-img--container {
      img {
        width: 190px;
        bottom: 38px;
        left: 45px;
      }
    }
  }
}

// Desktop - and up
// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  .section--personal {
    text-align: left;
  }
}

// Desktop - only
@include media-breakpoint-only(lg) {
  .section--contact {
    .contact--bg {
      .contact--pointer {
        display: block;
        right: 65px;
      }
    }
  }
}

// Large desktop - and up
// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
  .section--contact {
    .contact--bg {
      .contact--pointer {
        display: block;
      }
    }
  }
}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
