// Font weight
$headings-font-weight-light: 400;
$headings-font-weight: 400;
$headings-font-weight-medium: 500;
$headings-font-weight-semibold: 600;
$headings-font-weight-bold: 700;

$font-weight-light: 400;
$font-weight: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
